*{
    box-sizing: border-box;
}
body{
    padding: 5px;
    font-size: 19px;
    height: 350px;
    width: 400px;
    color: black;
}
h1{
    font-size: 17px;
}
#table-wrapper {
    position:relative;
}
#table-scroll {
    height:200px;
    overflow:auto;
    margin-top:20px;
}
#table-wrapper table {
    width:100%;

}
table{
    display: block;
    color: blue;
    font-size: 15px;
}

